<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @item.title %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @item.priority %>
</p>

<p>
  <strong>Done:</strong>
  <%= @item.done %>
</p>

<p>
  <strong>Done at:</strong>
  <%= @item.done_at %>
</p>

<p>
  <strong>Due at:</strong>
  <%= @item.due_at %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
