<!DOCTYPE html>
<html ng-app='lists'>
<head>
  <title>Lists</title>
	<%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>  
  <%= javascript_include_tag "itemcontroller" %>  
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
